<!DOCTYPE html>
<html>
	<head>
		<title>Helpline</title>
		<link rel='stylesheet' href='../static/css/helpline.css'>
	</head>

	<body>
		<div class='nav_bar'>
			<a href='/' id="logo">Lovelf</a>
			<a href='/'>Home</a>
			<a href='/treehole/'>Treehole</a>
			<a href='/self-care practices/'>Self-care practices</a>
			<a href='/helpline/'>Helpline</a>
		</div>
    
  <h1>Helpline</h1>

  <div id="details">
    <h2>Samaritans of SG</h2>
    <table>
      <tr>
        <th class="sos">24-hour chat box function</th> 
        <th class="sos2">24-hour hotline</th>
      </tr>
      <tr>
        <td class="sos">
          <a href='https://www.sos.org.sg/'><input type='button' id="link_btn" value='Care Text'></a>
        </td>
        <td>
          <input type='button' class="sos2" value='1-767'>
        </td> 
      </tr>
      
    </table>
  
    <h2>Institute of Mental Health</h2>
    <table>
      <tr><th>24-hour hotline</th></tr>
      <tr><td><input type='button' value="6389-2222"></td></tr>
    </table>
  
    <h2>Tinkle Friend</h2>
    <table>
      <tr><th>24-hour hotline</th></tr>
      <tr><td><input type='button' value="1800 2744 788"></td></tr>
    </table>
  </div>

  <img src="../static/images/quotes.png">
  <br>
  </body>
</html>