<!DOCTYPE html>
<html>
	<head>
		<title>Self-care Practices</title>
		<link rel='stylesheet' href='../static/css/self-care.css'>
	</head>

	<body>   
		<div class='nav_bar'>
			<a href='/' id="logo">Lovelf</a>
			<a href='/'>Home</a>
			<a href='/treehole/'>Treehole</a>
			<a href='/self-care practices/'>Self-care practices</a>
			<a href='/helpline/'>Helpline</a>
		</div>
    
    <h1>Self-care Practices</h1>
    
    <div class="container">
      <a href="#med"><img id="c1" src="../static/images/circle.png"></a>
      <a href="#yoga_pg"><img id="c2" src="../static/images/circle.png"></a>
      <div class="med_txt">
        <h1>Meditation</h1>
        <p>A short practice for settling the mind and finding ur inner peace!</p>
      </div>

      <div class="yoga_txt">
        <h1>Yoga</h1>
        <p>A practice that connects the body, breath, and mind!</p>        
      </div>
    </div>
    

    <div id='med'>
      <h1>Meditation</h1>
      <p>Meditation is known to reduce stress by promoting relaxation and calming the mind.</p>
    </div>
      <table>
        <tr>
          <td><b>With meditation guides</b></td>
          <td><b>White noises(Nature)</b></td>
          <td><b>White noises(Light Rain)</b></td>
        </tr>
        
        <tr>
          <td>
            <audio controls>
              <source src="../static/audio/with_guide.mp3" type="audio/mp3">
            </audio>
          </td>
          <td>
            <audio controls>
              <source src="../static/audio/nature.mp3" type="audio/mp3">
            </audio>
          </td>
          <td>
            <audio controls>
              <source src="../static/audio/rainy_days.mp3" type="audio/mp3">
            </audio>
          </td>
        </tr>

        <tr>
          <td><img src="../static/images/meditation.jpeg"></td>
          <td><img src="../static/images/nature.jpg"></td>
          <td><img src="../static/images/rainy_days.jpg"></td>
        </tr>
      </table>  

      <div id='yoga_pg'>
        <h1>Yoga</h1>
        <p>Yoga brings the body and mind together and is built on three main elements – movement, breathing and meditation.</p>
        <div class='videos'>
          <h2>Relief stress and anxiety</h2>
          <video controls>
				    <source src='../static/videos/relief_stress.mp4'>
			    </video>
          <h2>Morning yoga</h2>
          <video controls>
				    <source src='../static/videos/morning.mp4'>
			     </video>
          <h2>Bedtime yoga</h2>
          <video controls>
				    <source src='../static/videos/bedtime.mp4'>
			    </video>
        </div>
           
        

      </div>
  </body>
</html>


  