<!DOCTYPE html>
<html>
	<head>
		<title>My TreeHole</title>
		<link rel='stylesheet' href='../static/css/upd_journal.css'>
	</head>

	<body>
		<div class='nav_bar'>
			<a href='/' id="logo">Lovelf</a>
			<a href='/'>Home</a>
			<a href='/treehole/'>TreeHole</a>
			<a href='/self-care practices/'>Self-care practices</a>
			<a href='/helpline/'>Helpline</a>
		</div>	
		
		<h1>My TreeHole</h1>
    <img src="../static/images/treehole.png">
		<p>Posted successfully!</p>
		
		<a href="/treehole/"><input type="button" id="return_btn" value="Back" height=15px></a>
	</body>
</html>